{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h2 class="mt-5 text-center">Profile</h2>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="{{ customer.image.url }}" alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 150px;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-4">
                            <h6>Information</h6> 
                            <hr class="mt-0 mb-4">

                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>First name</h6>
                                    {{customer.firstname}}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Last name</h6>
                                    {{customer.lastname}}
                                </div>
                            </div>

                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    {{user.email}}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    {{customer.phone}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-3"></div>
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <a href="{% url 'newaddress' %}" class="btn btn-primary btn-lg me-3">
                Address <i class="fa-solid fa-plus"></i>
            </a>
          <a href="{% url 'newpayment' %}" class="btn btn-primary btn-lg">
                Payment <i class="fa-solid fa-plus"></i>
          </a>
        </div>
    </div>
    
    <h2 class="my-3 text-center">Address</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for address in addresses %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                    <div>{{ address.address }} </div>
                    <div>{{ address.address2 }} </div>
                    <div>{{ address.state }}  </div>
                    <div>{{ address.country }} </div>
                    <div>{{ address.zip }}</div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Do not have address.</p>
        {%endfor%} 
    </div>
    
    <h2 class="my-3 text-center">Payment</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for payment in payments %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                    <div><h5 class="d-inline">Name:</h5> {{ payment.name }}</div>
                    <div><h5 class="d-inline">Card number:</h5> {{ payment.cardnumber }}</div>
                    <div><h5 class="d-inline">Expire:</h5> {{ payment.get_expire }}</div>
                    </div>
                </div>
            {% empty %}
                <p>Do not have address.</p>
            </div>
        {%endfor%} 
    </div>
</div>
{% endblock content %}